# {{ ansible_managed }}
iptables -F
iptables -I FORWARD -i tun0 -o eth0 -s {{ client_vpn_subnet }} -d {{ bluemix_vpn_subnet }} -m conntrack --ctstate NEW -j ACCEPT
iptables -I FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
iptables -t nat -I POSTROUTING -o eth0 -s {{ client_vpn_subnet }} -j MASQUERADE
